.logo-container {
  z-index: 0;
  width: 500px;
  height: 700px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    // transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;

    z-index: 1;
  }
}

.solid-logoSmall {
  width: 300px;
  position: absolute;
  height: '100%';
  left: 15%;
  z-index: -2;
}

.svg-container-small {
  width: 300px;
  height: '100%';
  position: absolute;
  left: 15%;
  z-index: -2;
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}

.path {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 3s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1728.193298;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash2 3s linear alternate infinite;
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1728.193298;
  }
}
