@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #000;
}

.cloudMaking {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: auto;
  width: 50%;
  z-index: 1;
}
.cloudMaking--item:hover {
  color: #1272b3;
  z-index: 1;
}
